# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: b81111c5139051a371ad3f48e30349a3912e06ea2e26a645c2897b0cd81e1caecde47dc8980c86c4f4f50f08a6e73634b208c26a04205742ef61515c434ac911

test:
  secret_key_base: 3d8136b7c52f185494357191600be283e5771a587ebd59a8879eb40486c9da57616a0d0c191c3d63892f0216d9c1708623789b5db575fe85ddef01fe90b35161

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
